.conteudo-avaliacoes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: white;
  box-sizing: border-box;
}
.avaliacoes .pessoas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.avaliacoes .bloco.ativo {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: stretch;
  animation: aparecer 0.9s forwards;
  overflow: hidden;
  width: 100%;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.avaliacoes .bloco.inativo {
  display: none;
}

.avaliacoes h1 {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Noto Serif;
  margin: 0;
}
.avaliacoes p {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: bold;
  color: #2067f5;
  margin: 0;
}

.avaliacoes .card.ativo {
  width: 50%;
  /*height: 410px;*/
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  margin-right: 29px;
  /* display: none; */
}
.avaliacoes .card.ativo:last-child {
  margin-right: 0;
}
.avaliacoes .card.esqdir {
  width: 370px;
  height: 410px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  position: relative;
  animation: direita 0.5s linear;
}

@keyframes direita {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

.avaliacoes .card .perfil {
  /* margin: 25px 19px 19px 32px; */
  height: 112px;
  display: flex;
  flex-direction: row;
}
.avaliacoes .card .perfil .informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99px;
  margin-left: 20px;
}
.avaliacoes .card .perfil .informacoes h3 {
  font-family: Noto serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: none;
  color: #f56311;
}
.avaliacoes .card .perfil .informacoes span {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: #616161;
}
.avaliacoes .card .perfil .informacoes .estrelas {
  display: flex;
  justify-content: space-between;
  width: 136px;
  margin-top: 10px;
}
.avaliacoes .card .perfil .estrelas img {
  max-width: 20px;
  max-height: 20px;
  /* margin-right: 9px; */
}

.avaliacoes .descricao {
  width: 100%;
  margin-top: 32px;
  font-family: Source Sans Pro;
  font-size: 18.5px;
  font-weight: 400;
  word-wrap: break-word;
}
.avaliacoes .nav {
  display: flex;
  flex-direction: row;
  /* width: 93px; */
  justify-content: space-between;
  margin-top: 41px;
}
.avaliacoes .nav a {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
  margin-right: 21px;
}
.avaliacoes .nav a:last-child {
  margin-right: 0;
}
.avaliacoes .nav a.ativo {
  background-color: #303030;
  cursor: unset;
}
.titulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 79px;
}
@keyframes slidein {
  from {
    /* opacity: 1; */
    transform: left -100%;
  }
  to {
    /* opacity: 0; */
    transform: scaleX(1);
  }
}
@media (max-width: 1100px) {
  .avaliacoes .bloco.ativo {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .avaliacoes .card.ativo {
    width: 100%;
    /* height: 383px; */
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    /* margin: 0; */
    /* display: none; */
  }
  .avaliacoes .descricao {
    font-size: 14px;
  }
  .avaliacoes h1 {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Noto Serif;
    margin: 0;
  }
  .avaliacoes {
    padding: 0;
  }
}
