.banner {
  width: 100%;
  /* height: auto; */
  display: flex;
  align-items: center;
}
.banner img {
  top: 0;
  position: relative;
  width: 100%;
  /* margin-top: 99px; */
}
.texto {
  position: absolute;

  margin-left: 68px;
}

.texto h1 {
  max-width: 500.28px;
  height: 175.15px;
  left: 98.36px;
  top: 298.59px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  display: flex;
  align-items: center;

  color: #000000;
}
.texto p {
  margin-top: -50px;
  margin-bottom: 44.95px;
  width: 450px;
  font-size: 18px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;

  display: flex;
  align-items: flex-end;

  color: #000000;
}
.texto a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 580;
  font-size: 20.0637px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;

  color: #ffffff;
  width: 200px;
  height: 54px;
  background: #2067f5;
  border: none;
  border-radius: 30.1px;
  padding: 13px 50px 13px 50px;
}
@media (max-width: 1024px) {
  .banner {
    /* height: auto; */
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 99px;
  }
  .banner img {
    margin-top: 0px;
  }
  .texto {
    height: 300px;

    margin-left: 68px;
  }

  .texto h1 {
    max-width: 200.28px;
    width: 136px;

    left: 15px;
    top: 124px;

    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #000000;
  }
  .texto p {
    display: none;
  }
  .texto a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 580;
    font-size: 13px;
    /* line-height: 25px; */
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: none;
    margin-top: 16px;
    color: #ffffff;
    width: 126px;
    height: 35px;
    background: #2067f5;
    border: none;
    border-radius: 30.1px;
    /* padding: 13px 50px 13px 50px; */
  }
}
