#funciona {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* /* justify-content: center; */
  align-items: center;
  background-color: white;
  margin-bottom: 176px;
  margin-right: 0px;
}

#funciona h1 {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Noto Serif;
  margin: 0;
}
#funciona p {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: bold;
  color: #2067f5;
  margin: 0;
}
#funciona img {
  /* max-width: 1000px; */
  width: 90%;
}
@media (max-width: 768px) {
  #funciona h1 {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Noto Serif;
    margin: 0;
  }
  #funciona {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* /* justify-content: center; */
    align-items: center;
    background-color: white;
    margin-bottom: 60px;
    margin-right: 0px;
  }
}
