.pag-container {
  display: flex;
  margin-top: 99px;
  flex-direction: row;
  justify-content: center;
}
.pag-container h1 {
  margin: 0px;
  margin-bottom: 9px;
}
.pag-container .pedido {
  width: 630px;
}
.pag-container .pedido h1 {
  font-size: 23px;

  color: #184db8;
}

.pag-container .numero-pedido {
  margin-top: 27px;
}

.pag-container .numero-pedido h1 {
  color: black;
  font-size: 23px;
  margin-bottom: 0;
}
.pag-container .numero-pedido h1 span {
  font-size: 23px;
  color: #f56311;
  font-weight: 600;
}
.pag-container .numero-pedido span {
  color: #616161;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.pag-container .codigo-boleto {
  margin-top: 41px;
  border: 1px solid #f2f2f2;
  border-radius: 14px;

  padding-bottom: 18px;
}
.pag-container .codigo-boleto.desativado {
  display: none;
}
.pag-container .boleto-impresso.desativado {
  display: none;
}
.pag-container .pedido .codigo-boleto h2 {
  margin-left: 0px;
  font-size: 20px;
  text-transform: none;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 18px;
}
.pag-container .pedido .codigo-boleto span {
  color: #616161;
  font-size: 16px;
  font-weight: normal;
  padding-left: 18px;
}
.boleto-impresso {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.boleto-impresso a {
  width: 196px;
  height: 43px;
  border: 2px solid #f56311;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f56311;
  font-size: 15px;
  font-weight: 600;
}
.boleto-impresso img {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
}
.resumo-pedido {
  width: 437px;
}
.resumo-pedido h2 {
  text-transform: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin: 0px;
}
.resumo-pedido .prazo-entrega {
  background-color: #fafafa;
  border-radius: 14px;
  padding: 14px 21px 14px 21px;
  margin-bottom: 23px;
}
.resumo-pedido .prazo-entrega span {
  color: #616161;
  font-size: 12px;
  font-family: Source Sans Pro;
  font-style: italic;
  line-height: 15px;
}
.resumo-pedido .prazo-entrega .prazo-frete h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  font-family: Source Sans Pro;
  text-transform: none;
}
.resumo-pedido .prazo-entrega .prazo-frete span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-family: Source Sans Pro;
  text-transform: none;
  font-style: normal;
}
.resumo-pedido .prazo-entrega .prazo-frete {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}
.resumo-pedido .prazo-entrega h1 {
  font-size: 23px;
  margin-bottom: 9px;
}
.resumo-pedido .endereco-entrega {
  background-color: #fafafa;
  border-radius: 14px;
  padding: 14px 21px 14px 21px;
  margin-bottom: 23px;
}
.resumo-pedido .endereco {
  display: flex;
  flex-direction: column;
}
.resumo-pedido .endereco h3 {
  font-size: 16px;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 9px;
}
.resumo-pedido .endereco span {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #616161;
}
.resumo-pedido .items-resumo {
  background-color: #fafafa;
  border-radius: 14px;
  padding: 14px 21px 14px 21px;
}
.resumo-pedido .items-resumo .container-items {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.resumo-pedido .items-resumo .container-items .item-produto {
  display: flex;
  width: 251px;
  flex-direction: column;
}
.resumo-pedido .items-resumo .container-items .item-produto span {
  display: flex;
  color: #616161;
  margin-top: 15px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.resumo-pedido .items-resumo .container-items .item-qtd {
  display: flex;
  width: 51px;
  flex-direction: column;
}
.resumo-pedido .items-resumo .container-items .item-qtd span {
  display: flex;
  color: #616161;
  margin-top: 15px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.resumo-pedido .items-resumo .container-items .item-preco {
  display: flex;
  width: 51px;
  flex-direction: column;
}
.resumo-pedido .items-resumo .container-items .item-preco span {
  display: flex;
  color: #616161;
  margin-top: 15px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.resumo-pedido .items-resumo .container-items .item-produto h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}
.resumo-pedido .items-resumo .descontos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.resumo-pedido .items-resumo .descontos span {
  text-transform: uppercase;
  color: #616161;
  font-size: 10px;
  text-align: end;
  font-family: Source Sans Pro;
}
.resumo-pedido .items-resumo .descontos .preco-desconto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.resumo-pedido .items-resumo .frete-resumo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}
.resumo-pedido .items-resumo .frete-resumo span {
  font-size: 16px;
  color: #239606;
  font-weight: normal;
}
.resumo-pedido .items-resumo .total-resumo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.resumo-pedido .items-resumo .total-resumo span {
  font-size: 24px;
  color: #2067f5;
  font-weight: 600;
}
.resumo-pedido .forma-pagamento {
  background-color: #fafafa;
  border-radius: 14px;
  padding: 14px 21px 14px 21px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.resumo-pedido .forma-pagamento h2 {
  margin-top: 22px;
  margin-bottom: 10px;
}
.resumo-pedido .forma-pagamento span {
  margin-bottom: 5px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #616161;
}
.pag-container .pedido .codigo-boleto .container-info a.copiar-codigo {
  display: none;
}
.acompanhar-pedido {
  display: none;
}
@media (max-width: 768px) {
  .pag-container {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .boleto-impresso img {
    display: none;
  }
  .pag-container .pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .pag-container .numero-pedido {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .pag-container .numero-pedido h1 {
    color: black;
    font-size: 16px;
    margin-bottom: 0;
  }
  .pag-container .codigo-boleto {
    margin-top: 33px;
    border: 1px solid #f2f2f2;
    border-radius: 14px;
    padding-bottom: 11px;
    width: 343px;
  }
  .container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .boleto-impresso {
    display: none;
  }
  .pag-container .pedido .codigo-boleto h2 {
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    text-transform: none;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 18px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  .pag-container .pedido .codigo-boleto .info-boleto span {
    color: #616161;
    font-size: 16px;
    font-weight: normal;
    padding-left: 18px;
    max-width: 218px;
  }
  .pag-container .pedido .codigo-boleto .container-info a.copiar-codigo {
    width: 103px;
    height: 24px;
    border: 1px solid #f56311;
    border-radius: 20px;
    color: #f56311;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }
  .pag-container .pedido .codigo-boleto .info-boleto {
    width: 218px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .resumo-pedido {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .acompanhar-pedido {
    width: 231px;
    height: 45px;
    background: #2067f5;
    border-radius: 28px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .resumo-pedido .prazo-entrega {
    display: none;
  }
  .separador {
    display: none;
  }
  .resumo-pedido .endereco-entrega {
    background-color: #ffffff;
    border-radius: 14px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 15px;
    border: 1px solid #f2f2f2;
    width: 343px;
  }
  .resumo-pedido .endereco {
    margin-left: 14px;
    margin-bottom: 23px;
  }
  .resumo-pedido .endereco-entrega h1 {
    border-bottom: 1px solid #f2f2f2;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .resumo-pedido .items-resumo {
    background-color: #ffffff;
    border-radius: 14px;
    border: 1px solid #f2f2f2;
    padding: 0;
    width: 343px;
  }
  .resumo-pedido .items-resumo h1 {
    border-bottom: 1px solid #f2f2f2;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .resumo-pedido .items-resumo .container-items {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .resumo-pedido .items-resumo .descontos {
    padding-left: 14px;
    padding-right: 14px;
  }
  .resumo-pedido .items-resumo .frete-resumo {
    padding-left: 14px;
    padding-right: 14px;
  }
  .resumo-pedido .items-resumo .total-resumo {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 10px;
  }
  .resumo-pedido .items-resumo h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }
  .resumo-pedido .forma-pagamento {
    background-color: #ffffff;
    border-radius: 14px;
    border: 1px solid #f2f2f2;
    padding: 0;
    margin-top: 15px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    width: 343px;
  }
  .resumo-pedido .forma-pagamento h1 {
    border-bottom: 1px solid #f2f2f2;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .resumo-pedido .forma-pagamento h2 {
    margin-left: 14px;
    margin-top: 12px;
  }
  .resumo-pedido .forma-pagamento span {
    margin-left: 14px;
  }
  .resumo-pedido .forma-pagamento .total-compra {
    font-size: 14px;
    color: #2067f5;
    font-weight: 600;
  }
}
