.pagina-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 122px;
  overflow: hidden;
  margin-bottom: 97px;
}

.pagina-login .login {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}
.pagina-login form {
  display: flex;
  flex-direction: column;
}
.pagina-login .logar {
  width: 45%;
}
.pagina-login .login-input span {
  color: #f33131;
  margin-left: 17px;
}
.pagina-login .senha-input span {
  color: #f33131;
  margin-left: 17px;
}
.pagina-login .cadastrar {
  width: 45%;
}
.pagina-login h1 {
  margin-bottom: 30px;
}
.pagina-login input {
  width: 100%;
  height: 42px;
  background: #ffffff;
  border: 0.83px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 4px;
}
.pagina-login input::placeholder {
  color: #616161;
  font-size: 14px;
  font-family: Source Sans Pro;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
}
.pagina-login button {
  width: 180px;
  height: 54px;
  background-color: #2067f5;
  border-radius: 30px;
  border: none;
  color: white;
  font-family: Source Sans Pro;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  margin-top: 34px;
  cursor: pointer;
  outline: none;
}
.pagina-login .esqueci-senha {
  margin-top: 22px;
}
.pagina-login .esqueci-senha a {
  color: #b1b1b1;
  font-family: Source Sans Pro;
  font-size: 13px;
  text-decoration-line: underline;
  font-style: normal;
  font-weight: normal;
}
.pagina-login .erro-senha {
  background-color: #f33131;
  margin-top: 17px;
  color: #ffffff;
  font-family: Source Sans Pro;
  line-height: 12px;
  font-weight: normal;
  font-style: normal;
  height: 27px;
  font-size: 8.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagina-login .esqueci-ativo {
  background-color: #239606;
  margin-top: 17px;
  color: #ffffff;
  font-family: Source Sans Pro;
  line-height: 12px;
  font-weight: normal;
  font-style: normal;
  height: 27px;

  text-align: center;
  font-size: 8.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagina-login .senha {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 30px;
}
.pagina-login a.mostrar {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-right: 14px;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 15px;
  color: #c4c4c4;
}
.facebook {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.facebook .divisor {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.facebook .divisor .traco {
  width: 20vw;
  height: 1px;

  background-color: #c4c4c4;
  margin-left: 26px;
  margin-right: 26px;
}
.facebook a {
  display: flex;
  flex-direction: row;
  width: 310px;
  height: 58px;
  background-color: #4267b2;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration-line: none;
  margin-top: 26px;
}
.facebook .divisor span {
  color: #616161;
  font-size: 18px;
}
.facebook a span {
  color: #ffffff;
  margin-left: 8px;
}
.facebook span {
  color: #616161;
}
.login .divisor {
  display: none;
}
@media (max-width: 768px) {
  .pagina-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
    overflow: hidden;
    margin-bottom: 68px;
  }
  .pagina-login .login {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
  }
  .pagina-login .logar {
    width: 90%;
    display: flex;

    justify-content: center;
  }
  .pagina-login button {
    width: 100%;
  }
  .pagina-login .cadastrar {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .pagina-login h1 {
    display: none;
  }
  .pagina-login form {
    width: 90%;
    margin: 0;
  }
  .pagina-login .cadastro form {
    width: 90%;
    margin: 0;
  }
  .cadastrar form button {
    margin: 0;
  }
  .pagina-login .cadastrar input {
    display: none;
  }
  .login .divisor {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .login .divisor .traco {
    width: 20vw;
    height: 1px;
    background-color: #c4c4c4;
    margin-left: 26px;
    margin-right: 26px;
  }
  .login .divisor span {
    color: #616161;
    font-size: 18px;
  }
  .facebook .divisor {
    display: none;
  }
  .facebook {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
