input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}
/* input[type='number'] {
  -moz-appearance: textfield;
} */
.carrinho-compra {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 122px;
  margin-bottom: 97px;
}

.carrinho-compra a.laranja {
  color: #f2976d;
  text-decoration: underline;
}
.carrinho-compra img {
  margin-bottom: 31px;
}
.carrinho-compra img.sacola-vazia {
  width: 56px;
  height: 66px;
}
.carrinho-compra h1 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 26px;
  margin-top: 0;
}
.carrinho-compra p {
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: bold;
  color: #2067f5;
  margin: 0;
  width: 497px;
}

.cupom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 72px;
  background-color: rgba(39, 158, 8, 0.42);
  color: #239606;
  border-radius: 11px;
  font-size: 18px;
  font-weight: normal;
  font-family: Source Sans Pro;
  /* padding-left: 40px;
  padding-right: 40px; */
}
.container-produto {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 38px;
}
.container-produto h1 {
  font-family: Source Sans Pro;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}
.container-produto .produtos {
  width: 50%;
}
.container-produto .resumo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-resumo {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border-radius: 14px;
  padding: 18px;
  align-items: center;
  width: 100%;
}

.container-resumo .subtotal-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18.5px;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}
.container-resumo .frete.ativo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18.5px;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}
.container-resumo .frete.desativado {
  display: none;
}
.container-resumo .frete.ativo {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
}
.container-resumo .frete div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container-resumo .frete h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #239606;
  text-transform: none;
}
.container-resumo .frete div span {
  line-height: 16px;
  font-weight: normal;
  font-size: 16px;
}
.container-resumo form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  border-bottom: 1px solid #f2f2f2;
}

.container-resumo span {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.container-resumo label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.container-resumo .input-buttom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-resumo .input-buttom input {
  width: 40%;
  height: 42.46px;
  background: #ffffff;
  border: 0.83px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 8px;
}

.container-resumo .input-buttom button {
  min-width: 168px;
  height: 42px;
  border: 2px solid #f56311;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: white;
  color: #f56311;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

.container-resumo .subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
  margin-top: 18.5px;

  width: 100%;
}
.container-resumo .subtotal .total-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container-resumo .subtotal .total-items span {
  font-size: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
}

.container-resumo .subtotal .total-items .preco {
  font-size: 24px;
  color: #2067f5;
  font-style: normal;

  font-weight: 600;
}
.container-resumo .continuar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 42px;
  border: 2px solid #f56311;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: white;
  color: #f56311;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  margin-bottom: 17px;
}

.container-resumo .finalizar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 42px;

  box-sizing: border-box;
  border-radius: 24px;
  background-color: #2067f5;
  color: white;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
}
.compra-segura {
  display: flex;
  margin-top: 15px;
}
.compra-segura span {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-left: 7px;
  color: #239606;
}
.compra-segura img {
  width: 16px;
  height: 21px;
}
.container-frete {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.container-frete form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 39px;
}
.container-frete .input-buttom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container-frete .input-buttom input {
  background: #ffffff;
  width: 215px;
  height: 42.46px;
  border: 0.83px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 8px;
}
.container-frete .input-buttom button {
  cursor: pointer;
}
.container-frete form h2 {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: none;
  margin-top: 8px;
}
.container-frete .erro.ativo {
  margin-top: 10px;
  color: red;
}
.container-frete .erro.desativado {
  display: none;
}
.container-frete form h3 {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 8px;
}
.container-frete form span {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 400;
  color: #616161;
  font-style: normal;
  line-height: 15px;
  text-transform: none;
  margin-bottom: 5px;
  margin-bottom: 5px;
}
.container-frete form label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}
.container-frete .input-buttom button {
  min-width: 113px;
  height: 42px;
  border: 2px solid #f56311;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: white;
  color: #f56311;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  margin-right: 14px;
}
.container-frete .input-buttom button:focus {
  outline: none;
}
.container-frete .input-buttom a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 13px;
  text-decoration-line: underline;
  color: #b1b1b1;
  line-height: 16px;
}
.item-add {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 24px;
  width: 100%;
}

.item a.lixeira {
  cursor: pointer;
}
.item-add .info {
  display: flex;
  border-top: 1px solid #f2f2f2;
  justify-content: space-between;
  margin: -18px;
  min-height: 46px;
  padding-left: 18px;
  padding-right: 18px;
  align-items: center;
  flex-wrap: wrap;
}
.item-add .info .quantidade a {
  height: 33px;
}
.item-add .info .preco {
  margin-bottom: 0;
  display: flex;
  width: 230px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.item-add .info .preco .preco-final {
  font-size: 24px;
  text-decoration: none;
  color: #2067f5;
  margin-left: 7px;
}

.item-add .info .botoes-quantidade {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}
.item-add .info .botoes-quantidade .qtd-comprar {
  margin: 0;
}
.item-add .info .botoes-quantidade span {
  font-family: Source Sans Pro;
  font-size: 14px;
}
.item-add .item {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.item-add img {
  width: 93px;
  height: 138px;
}
.item-add img.lixeira {
  width: 14px;
  height: 18px;
}
.item-add .item .detalhes {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.item-add .detalhes h2 {
  font-family: Noto Serif;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.item-add .detalhes span {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #858585;
  margin-bottom: 3px;
}
.item-add .detalhes form {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.item-add .detalhes form span {
  margin-left: 10px;
  color: black;
}
.desconto {
  display: flex;
  padding-top: 18.5px;
  padding-bottom: 18.5px;

  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}
span.cupom-errado {
  background-color: #f33131;

  margin-top: 17px;
  color: #ffffff;
  font-family: Source Sans Pro;
  line-height: 12px;
  font-weight: normal;
  font-style: normal;
  height: 27px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
