@keyframes galeria {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
#produto .foto {
  margin-right: 32px;

  display: flex;

  flex-direction: column;
  width: 566.36px;
  /* max-height: 644.9px; */
  /* width: 100%;
  height: 100%; */
}
#produto .foto .galeria {
  margin-top: 24px;
  width: 567px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  z-index: 300;
}
#produto .foto .galeria img {
  max-width: 125px;
  /* width: 100%; */
}
#produto .foto .interacao {
  justify-items: center;
  position: absolute;
  display: flex;
  height: 637px;
  width: 566px;
  justify-content: space-between;
}
#produto .foto .previous {
  transform: rotate(180deg);
  animation-name: none;
  max-width: 32px;
  cursor: pointer;
  z-index: 400;
}
#produto .foto .next {
  max-width: 32px;
  cursor: pointer;
  animation-name: none;
  z-index: 400;
}
#produto .inativo {
  display: none;
}
#produto .foto img {
  max-width: 566.36px;
  max-height: 644.9px;
  width: 100%;
  height: 100%;
  animation-name: galeria;
  animation-duration: 1s;
}
