@keyframes galeria {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
#produto .foto {
  margin-right: 32px;

  display: flex;
  align-items: center;

  flex-direction: column;
  width: 55vw;
  /* max-height: 644.9px; */
  /* width: 100%;
  height: 100%; */
}
#produto .foto .galeria {
  margin-top: 24px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  z-index: 300;
}
#produto .foto .galeria img {
  width: 100%;
}
#produto .foto .interacao {
  justify-items: center;
  position: absolute;
  display: flex;
  height: 637px;
  width: 100%;
  justify-content: space-between;
}
#produto .foto .previous {
  transform: rotate(180deg);
  animation-name: none;
  max-width: 32px;
  cursor: pointer;
  z-index: 400;
}
#produto .foto .next {
  max-width: 32px;
  cursor: pointer;
  animation-name: none;
  z-index: 400;
}
#produto .inativo {
  display: none;
}
#produto .foto img {
  /* max-width: 50vw; */

  width: 100%;
  height: 100%;
  animation-name: galeria;
  animation-duration: 1s;
}
.exibicao {
  position: relative;
  width: 100%;
}
#produto .foto .galeria a {
  width: 22%;
}

@media (max-width: 768px) {
  #produto .foto {
    margin-right: 32px;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #produto .foto .galeria {
    display: flex;
    justify-content: center;
  }
  #produto .foto .galeria img.inativo {
    display: none;
  }

  #produto .foto .galeria img {
    /* width: 100%; */
    width: 16px;
    height: 16px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;
    /* width: 100%; */
  }
  #produto .foto .galeria a {
    width: 16px;
    height: 16px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;
  }
  #produto .foto .galeria a.ativo {
    background-color: #303030;
  }
  #produto .foto .interacao {
    display: none;
  }
  #produto .foto .previous {
    transform: rotate(180deg);
    animation-name: none;
    max-width: 32px;
    cursor: pointer;
    z-index: 400;
  }
  #produto .foto .next {
    max-width: 32px;
    cursor: pointer;
    animation-name: none;
    z-index: 400;
  }
  #produto .inativo {
    display: none;
  }
  #produto .foto img {
    /* max-width: 100vw; */

    width: 100%;
    height: 100%;
    animation-name: galeria;
    animation-duration: 1s;
  }
}
