@keyframes galeria {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
#produto .foto {
  margin-right: 32px;

  display: flex;

  flex-direction: column;
  width: 55vw;
  /* max-height: 644.9px; */
  /* width: 100%;
  height: 100%; */
}
#produto .foto .galeria {
  margin-top: 24px;
  width: 50vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  z-index: 300;
}
#produto .foto .galeria img {
  max-width: 20%;
  /* width: 100%; */
}
#produto .foto .interacao {
  justify-items: center;
  position: absolute;
  display: flex;
  height: 637px;
  width: 50vw;
  justify-content: space-between;
}
#produto .foto .previous {
  transform: rotate(180deg);
  animation-name: none;
  max-width: 32px;
  cursor: pointer;
  z-index: 400;
}
#produto .foto .next {
  max-width: 32px;
  cursor: pointer;
  animation-name: none;
  z-index: 400;
}
#produto .inativo {
  display: none;
}
#produto .foto img {
  max-width: 50vw;

  width: 100%;
  height: 100%;
  animation-name: galeria;
  animation-duration: 1s;
}

@media (max-width: 768px) {
  #produto .foto {
    margin-right: 32px;

    display: flex;

    flex-direction: column;
    width: 100vw;
  }
  #produto .foto .galeria {
    display: none;
  }
  #produto .foto .galeria img {
    width: 100vw;
    /* width: 100%; */
  }
  #produto .foto .interacao {
    display: none;
  }
  #produto .foto .previous {
    transform: rotate(180deg);
    animation-name: none;
    max-width: 32px;
    cursor: pointer;
    z-index: 400;
  }
  #produto .foto .next {
    max-width: 32px;
    cursor: pointer;
    animation-name: none;
    z-index: 400;
  }
  #produto .inativo {
    display: none;
  }
  #produto .foto img {
    max-width: 100vw;

    width: 100%;
    height: 100%;
    animation-name: galeria;
    animation-duration: 1s;
  }
}
