@import 'menu.css';
@import 'banner.css';
@import 'produto.css';
body {
  background: #e3dee2;
  margin: 0px;
  padding: 0px;
  font-family: Source Sans Pro;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
}
